
/* CSS styles */
#grad1 {
  height: auto;
  background-image: linear-gradient(to left, rgba(0,0,139,0), rgba(0,0,139,1));
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 100px;
  background-color:none;
  justify-content: start;
}

#grid-container > div {
  text-align: center;
}


h1 {
font-family: Raleway, sans-serif;
font-size:25px;
color: /*#CE5937*/ white;
line-height: normal;
text-align: top;
}


h2 {
font-family: Raleway, sans-serif;
font-size:25px;
color: white;
text-align: top;
}  


